<form class="w-100" action="{% url 'account_password' %}" method="POST">
    {% csrf_token %}
    <div class="row w-100 ">
        <div class="col-md-9 offset-1 ">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-right saddlebrown">
                        <i class="fas fa-password"></i> Change password
                    </h5>
                    <hr>
                </div>
                {% for field in form %}
                    <div class="form-group col-md-6">
                        <label class="saddlebrown " style="font-weight: bold">{{ field.label}}</label>
                        {{ field }}
                       {{ field.errors }}
                    </div>
                {% endfor %}


                <div class="form-group col-md-6">
                    <button class="btn btn-primary saddlebrown__btn float-right form-control w-50 mt-4">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>


    </div>
</form>