{% extends "website/app.html" %}


{% block content %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card w-100 mb-2">

                <div class="card-body w-100">
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <h4 class="saddlebrown p-2 opponent">
                                 <span>{{ opponent.username }}</span>
                            </h4>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                {% if room %}
                                    <input type="hidden" value="{{ room.fen }}" name="fen">

                                {% endif %}
                                <div id="board1" style="width: 800px!important;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 " id="moves__div">
                            {% for  move  in moves %}
                                <span class="move">{{ forloop.counter }} {{ move }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 mt-2">
                            <h4 class="saddlebrown p-2">
                                 You
                            </h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}