{% extends "website/app.html" %}


{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card w-100 mb-2">

                <div class="card-body w-100">
                    <div class="col-md-12 mt-2">
                        <h4 class="saddlebrown p-2">
                            {% if opponent.id %}
                                <span class="online__status"></span>
                                {{ opponent.username }}
                            {% else %}
                                <span class="offline__status"></span>
                                waiting to be connect opponent
                            {% endif %}
                        </h4>
                    </div>
                    <div class="row">
                        {% if room %}
                            <input type="hidden" value="{{ room.hash }}" name="room">
                            <input type="hidden" value="{{ orientation }}" name="orientation">
                            <input type="hidden" value="{{ room.fen }}" name="fen">

                        {% endif %}
                        <div id="board1" style="width: 800px!important;"></div>
                        <div class="col-md-12 mt-2">
                            <h4 class="saddlebrown p-2">
                                <span class="online__status"></span>
                                {{ request.user.username }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}