{% extends "website/app.html" %}


{% block content %}

    <div class="row">

        <div class="card w-100">

            <div class="card-body w-100">
                <div class="d-flex align-items-start w-100">
                    <div class="nav flex-column nav-pills me-3 w-25 p-2 chess_bg" style="min-height: 350px">
                        
                        <a class="nav-link account-nav-link {% if  request.path == '/account' %} saddlebrown__active {% endif %}"
                           href="{% url 'account' %}">
                            <i class="fas fa-id-card" aria-hidden="true"></i>
                            <span>Profile</span>
                        </a>

                        <a class="nav-link account-nav-link  {% if  request.path == '/account/password' %} saddlebrown__active {% endif %}"
                           href="{% url 'account_password' %}">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            <span>Password</span>
                        </a>

                        <a class="nav-link account-nav-link {% if  request.path == '/account/history' %} saddlebrown__active {% endif %}"
                           href="{% url 'account_history' %}">
                            <i class="fa fa-history" aria-hidden="true"></i>
                            <span>History</span>


                        </a>

                        <a class="nav-link account-nav-link {% if  request.path == '/account/statistics' %} saddlebrown__active {% endif %}"
                           href="{% url 'account_statistics' %}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Statics</span>


                        </a>
                    </div>
                    <div class="tab-content w-75 p-2 "
                         style="min-height: 350px;border: 1px solid lightgrey;border-left: none!important;">
                        {% if request.path == '/account' %}
                            <div class="tab-pane fade show active">
                                {% include 'account/includes/profile.html' %}
                            </div>
                        {% endif %}

                        {% if request.path == '/account/password' %}
                            <div class="tab-pane fade show active">
                                {% include 'account/includes/password.html' %}
                            </div>
                        {% endif %}

                        {% if request.path == '/account/history' %}
                            <div class="tab-pane fade show active">
                                {% include 'account/includes/history.html' %}
                            </div>
                        {% endif %}

                        {% if request.path == '/account/statics' %}
                            <div class="tab-pane fade show active">
                                {% include 'account/includes/statics.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}